rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Rule for user avatars
    // Allow read and write access only for the authenticated user to their own avatar folder.
    match /avatars/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Rule for business card images
    // Allow read and write access only for the authenticated user to their own business cards folder.
    match /businessCards/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
